.user-item {
  display: flex;
  margin: 10px 0;
  align-items: center;
  width: 100%;
}
.user-item img {
  border-radius: 50%;
  margin-right: 20px;
  width: 150px;
  height: 150px;
}
.user-item-image {
  width: 50%;
  text-align: center;
}
.user-item-text {
  width: 50%;
  text-align: start;
  align-items: center;
}
